@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.header {
    position: relative;
    width: 100%;
    height: 150px;
    padding: 0 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 50px -30px black;
}

.header .search-box {
    position: relative;
}

.header .nav-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .logo img {
    position: relative;
    max-width: 80px;
    height: 80px;
    border-radius: 100px;
}

.header .search-box input {
    min-width: 500px;
    height: 40px;
    padding: 8px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: #eee;
}

.header .search-box .search-icon {
    position: absolute;
    top: 50%;
    right: 12px;
    color: #333;
    transform: translateY(-50%);
}

.header ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header li a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    margin: 0 18px;
}

.header-link .active {
    color: orange;
}

.header .business-link {
    color: #fff;
    padding: 10px 20px;
    background-color: orange;
    border-radius: 50px;
    margin-left: 48px;
}

.header .business-link a {
    color: #fff;
    text-decoration: none;
}

.header .business-title {
    margin-left: 3px;
}

.header .user {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    border-radius: 30px;
    color: #fff;
    margin-left: 48px;
}

/* Container */

.container {
    position: relative;
    width: 100%;
    padding: 0 200px;
    margin: 0 auto;
    margin-top: 100px;
}

.container .top {
    display: flex;
}

.sidebar {
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-right: 24px;
}

.sidebar-search-box {
    position: relative;
}

.sidebar-search-box input {
    width: 300px;
    height: 40px;
    padding: 10px;
    background-color: #eee;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 50px;
}

.sidebar-search-box i {
    position: absolute;
    font-size: 18px;
    top: 50%;
    right: 18px;
    color: #888;
    transform: translateY(-50%);
}

.news {
    position: relative;
    background-color: #eee;
    margin-top: 24px;
    padding: 16px;
}

.news h2 {
    border-left: 2px solid orange;
    padding: 8px;
    line-height: 18px;
    color: #333;
    font-size: 24px;
    font-weight: 700;
}

.news .news-content {
    display: flex;
    margin: 20px 0;
    align-items: center;
    justify-content: center;
}

.news .news-content img {
    width: 50px;
    height: 50px;
    margin-right: 12px;
}

.top {
    display: flex;
    max-height: 600px;
}

.slide {
    position: relative;
    width: calc(100% - 300px);
}

.slide img {
    width: 100%;
    height: 100%;
    opacity: .8;
}

.slide .slide-title {
    position: absolute;
    bottom: 20px;
    color: #fff;
    padding: 0 28px;
    margin-bottom: 8px;
}

.slide .slide-button {
    position: absolute;
    right: -650px;
    bottom: 20px;
    display: flex;
    gap: 0 15px;
}

.slide .slide-button a {
    color: #fff;
    text-decoration: none;
}

.slide .slide-title .slide-time-views {
    display: flex;
    margin-top: 12px;
    gap: 12px;
}
.slide .slide-title .slide-time-views p::before {
    content: "\2022";
    color: #FFF; 
    font-weight: bold;
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
}
.bottom-card .time-views p::before {
    content: "\2022";
    color: grey; 
    font-weight: bold;
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
}
.bottom {
    margin-top: 50px;
}

.bottom h3 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    border-left: 2px solid orange;
    padding: 0 12px;
}

.card-item {
    margin-top: 24px;
}

.bottom .row {
    display: flex;
    width: 100%;
    gap: 40px;
}

.bottom .row .bottom-card {
    width: calc(33.333% - 20px)
}

.bottom-card {
    border-radius: 30px;
    box-shadow: 0 10px 30px -20px black;
    overflow: hidden;
}

.bottom-card .card img {
    width: 100%;
    height: 100%;
}

.bottom-card .card .card-body {
    padding: 0 24px;
    margin-top: 24px;
}

.bottom-card a {
    text-decoration: none;
    color: #333;
}

.card-body .card-body-title {
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    color: #333;
}

.card-body .card-body-title:hover {
    color: orange;
    transition: .1s linear;
}

.bottom-card .card .card-body .card-text {
    margin-top: 12px;
}

.bottom-card .card .card-body .time-views {
    display: flex;
    margin: 24px 0;
    gap: 12px;
}